#lawn {
    border: solid;
    border-width: 3px;
    margin: auto;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#desc {
    position:fixed;
    bottom:0;
    right:10px;
}

#prestige {
    position:fixed;
    bottom: 0;
}

#superTicks {
    position: fixed;
    right:0;
    top:0;
}
#cursorPos {
    position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(0,0,0,0.7);
    color: lime;
    font-family: monospace;
    padding: 6px 10px;
    border-radius: 6px;
    z-index: 9999;
    pointer-events: none;
}
#rightPanel {
    position: fixed;
    top: 10px;
    right: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 10px;
    z-index: 9999;
}
#rightPanel > div {
    background: rgba(0, 0, 0, 0.6);
    padding: 8px;
    border-radius: 6px;
}
